body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(80, 33, 74);
    font-family: Arial, Helvetica, sans-serif;
 }
  
 #profile-container{
    max-width: 300px;
    margin: 80px auto;
    background-color: rgb(180, 125, 182);
    border: 4px solid rgb(209, 174, 203);
    border-radius: 6px;
 }
  
 #profile-image{
    width: 100%;
    height: auto;
 }
  
 #profile-name{
    text-align: center;
 }
 #header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgb(189, 145, 174);
    text-align: center;
    color: white;
 }
 #footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    line-height: 50px;
    background-color: rgb(189, 145, 174);
    text-align: center;
    color: white;
 }